@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Forum", serif;
}

/* primary text start  */
.primary-text {
  text-decoration: none;
  color: #666666;
  font-size: 21px;
  margin-bottom: 6%;
}
/* primary text end  */

/* primary button satrt  */
.primary-btn {
  border: none;
  background-color: #fff;
  font-size: 23px;
  text-decoration: none;
  color: #000;
}
/* primary button end  */

/* regular text start  */
.regular-text {
  font-size: 5rem;
  padding: 0 4%;
  padding-bottom: 2%;
  font-weight: 400;
}
/* regular text end  */

/* header start  */
header {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-position: 100% -60%;
}
/* header end  */

/* nav start  */
nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4%;
}
/* nav end  */

/* nav logo start  */
.logo h2 {
  font-size: 1.7rem;
  font-weight: 600;
}
/* nav logo end  */

/* links start  */
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.link a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}
/* link end  */

/* banner  start  */
.banner {
  padding: 0 4%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* banner end  */

/* banner img start  */
.img img {
  width: 100%;
}
/* banner img end  */

/* banner text start  */
.text {
  width: 30%;
}

/* banner text end  */

/* main start  */
.main {
  padding: 6% 0;
  padding-left: 4%;
}
/* main end  */

/* feature start  */
.feature {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-position:  right top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5%;
}
/* feature end  */

/* main regular text start  */
.main .regular-text {
  text-align: center;
  margin-bottom: 2%;
}
/* main regular text end  */
